{
  "$schema": "http://json-schema.org/draft-07/schema",
  "$id": "<%= schemaId %>",
  "type": "object",
  "properties": {
    "project": {
      "type": "string",
      "description": "Name of the project",
      "$default": {
        "$source": "argv",
        "index": 0
      },
      "x-prompt": "For which project would you like to add the plugin?"
    }
  },
  "required": []
}
