import {
  Rule,
  Tree,
  chain,
} from '@angular-devkit/schematics';
import { <%= classify(name) %>Schema } from './schema'

export default function(options: <%= classify(name) %>Schema): Rule {

  return async (host: Tree) => {

    return chain([]);

  };

}
